:root {
    --color-primary: #703680;
    --color-secondary: #362c41;
    --color-tertiary: #a058f1;
    --color-font: #222;
    --color-links: #333;
    --color-background-main: #fee;
    --color-form-border: rgba(0, 0, 0, 0.2);
    /* --color-panel */
    --color-font-contrast: #fff;
    --color-danger: rgb(238, 14, 14);
    --color-warning: rgb(207, 95, 50);
    --color-success: rgb(13, 180, 138);

    --color-dashboard-hover: #ba86f5;
}