@media(max-height: 573px) {
    .page-min-height {
        display: none;
    }
}

/* Page - /index */
/* Page - /view-listings */
/* Page - /view-listing */
/* Page - /view-listing-unit */
/* Page - /view-listing-reviews */
/* Page - /help */
/* Page - /sign-up */
/* Page - /sign-in */
/* Page - /view-faqs */
/* Page - /view-topics */
/* Page - /view-tickets-user */
/* Page - /view-ticket-user */

@media(min-width: 2560px) {
    .showcase-listing {
        min-height: 600px;
    }

    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .listing-units-grp {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1920px) {
    .listing-nearby-places .places-list,
    .listing-reviews .reviews-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1600px) {
    .cards {
        gap: 50px;
        padding: 20px 0;
    }

    /* Main card */
    .card {
        margin: auto;
        width: 356px;
    }

    .card-sm {
        width: 580px;
    }

    .listing-info-aux {
        width: 1240px;
        margin: 20px auto;
    }
}

@media(max-width: 1225px) {
    .container {
        width: 90%;
    }

    #showcase .container, .showcase-small .container {
        width: 80%;
    } 
    
    .card {
        margin: 20px 10px;
    }

    .listing-info-aux .aux-grp {
        padding: 0 15px;
    }

    .listing-info-aux .aux-grp .data {
        font-size: 1.0rem;
    }
}

@media(max-width: 941px) {
    .panel-grp,
    .section-listing-secondarygit .panel-grp,
    .section-unit-secondary .panel-grp {
        grid-template-columns: 1fr;
    }

    .listing-units-grp,
    .listing-nearby-places .places-list,
    .listing-reviews .reviews-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 768px) {
    .container {
        width: 95%;
    }

    .section-listing-primary .container {
        width: 80%;
    }

    #showcase .container, .showcase-small .container {
        width: 80%;
    }

    .section-unit-main .container {
        width: 90%;
    }

    .section-unit-secondary .container {
        width: 100%;
    }
    
    .info-name .name {
        font-size: 1.6rem;
    }

    .listing-units-grp {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

    .listing-info-aux {
        padding: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .listing-info-aux .aux-grp {
        padding: 10px;
        border: none;
    }

    .listing-info-aux .aux-grp .data {
        font-size: .9rem;
    }

    .listing-info-aux .aux-grp:nth-child(odd) {
        border-right: 1px solid var(--color-font);
    }

    .listing-info-aux .aux-grp:nth-child(1),
    .listing-info-aux .aux-grp:nth-child(2) {
        border-bottom: 1px solid var(--color-font);
    }

    .section-unit-main .container .main-img .img:nth-child(2),
    .section-unit-main .container .main-img .img:nth-child(3),
    .section-unit-main .container .main-img .img:last-child {
        height: 110px;
    }
}

@media(max-width: 720px) {
    #section-listings {
        padding-bottom: 30px;
    }

    #section-marketing {
        padding-top: 30px;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin: 25px;
    }

    .listing-nearby-places .places-list,
    .listing-reviews .reviews-list {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    
    .section-unit-main .container {
        grid-template-columns: 1fr;
    }

    .section-unit-main {
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .section-unit-main .container .main-img .img:first-child {
        margin-top: 0;
    }

    .section-unit-secondary {
        padding-top: 15px;
    }
}

@media(max-width: 565px) {
    #section-marketing .marketing-item h4 {
        font-size: 1.3rem;
    }

    #section-marketing .marketing-item p {
        font-size: 1.1rem;
    }

    #section-links div a {
        font-size: 1rem;
    }

    .listing-units-grp,
    .listing-nearby-places .places-list,
    .listing-reviews .reviews-list {
        padding: 0;
    }
}

@media(max-width: 499px) {
    nav {
        flex-direction: column;
    }

    nav h1 {
        margin-bottom: 15px;
    }

    #showcase .container div,
    .showcase-small .container div {
        position: absolute;
        top: 30%;
        width: inherit;
    }

    #showcase .container h1 {
        font-size: 1.7rem;
    }
    
    .container {
        width: 80%;
    }

    .section-listing-primary .container {
        width: 90%;
    }

    .section-listing-secondary .container {
        width: 95%;
    }
    
    #showcase .container, .showcase-small .container {
        width: 80%;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    #section-links {
        grid-template-columns: unset;
        grid-template-rows: 1fr;
        padding: 20px;
    }

    #section-links div {
        padding: 0;
        align-items: unset;
        margin: unset;
    }

    .listing-info-main .info-name .name,
    .listing-info-main .info-name .info-actions {
        font-size: 1.3rem;
    }

    .listing-info-main .location,
    .listing-info-main .info-rating-grp {
        font-size: 1rem;
    }

    .listing-info-description {
        text-align: justify;
    }

    .card-sm, .card-sm .details .label {
        font-size: 0.75rem;
    }
}

@media(max-width: 408px) {
    body > * {
        font-size: 0.9rem;
    }

    #showcase .container h1 {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 1.4rem;
    }

    #section-marketing .marketing-item h4 {
        font-size: 1.2rem;
    }

    #section-marketing .marketing-item p {
        font-size: 1.0rem;
    }
}

@media(max-width: 375px) {
    nav {
        padding-bottom: 0;
    }

    nav h1 {
        line-height: unset;
    }

    nav .toggle {
        right: -2%;
    }

    nav .nav-menu {
        /* https://stackoverflow.com/questions/3331353/transitions-on-the-css-display-property */
        display: flex;
        flex-direction: column;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0s, opacity 0.3s linear;
    }

    nav .nav-menu.open {
        visibility: visible;
        opacity: 1;
        height: unset;
    }

    nav .nav-menu .badge {
        padding: 8px;
        border-top: 1px solid #666;
    }

    nav .nav-menu .badge:last-child {
        padding-bottom: 16px;
    }

    .card {
        margin: 20px 0;
    }

    .card-sm .details {
        padding: 8px;
    }

    
    .section-listing-secondary .container {
        width: 100%;
    }
}