@media(max-height: 573px) {
    .page-min-height {
        display: none;
    }
}

/* Page - /index */
/* Page - /view-listings */
/* Page - /view-listing */
/* Page - /view-listing-unit */
/* Page - /view-listing-reviews */
/* Page - /help */
/* Page - /sign-up */
/* Page - /sign-in */
/* Page - /view-faqs */
/* Page - /view-topics */
/* Page - /view-tickets-user */
/* Page - /view-ticket-user */

@media(max-width: 1225px) {
    #section-listings .container, #section-marketing .container {
        width: 90%;
    }
    
    .card {
        margin: 20px 10px;
    }
}

@media(max-width: 768px) {
    #section-listings .container {
        width: 95%;
    }
}

@media(max-width: 720px) {
    #section-listings {
        padding-bottom: 30px;
    }

    #section-marketing {
        padding-top: 30px;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        margin: 25px;
    }
}

@media(max-width: 565px) {
    #section-marketing .marketing-item h4 {
        font-size: 1.3rem;
    }

    #section-marketing .marketing-item p {
        font-size: 1.1rem;
    }

    #section-links div a {
        font-size: 1rem;
    }
}

@media(max-width: 499px) {
    nav {
        flex-direction: column;
    }

    nav h1 {
        margin-bottom: 15px;
    }

    #showcase .container div,
    .showcase-small .container div {
        position: absolute;
        top: 30%;
        width: inherit;
    }

    #showcase .container h1 {
        font-size: 1.7rem;
    }
    
    #section-listings .container {
        width: 80%;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    #section-links {
        grid-template-columns: unset;
        grid-template-rows: 1fr;
        padding: 20px;
    }

    #section-links div {
        padding: 0;
        align-items: unset;
        margin: unset;
    }
}

@media(max-width: 408px) {
    body > * {
        font-size: 0.9rem;
    }

    #showcase .container h1 {
        font-size: 1.5rem;
    }

    .section-title {
        font-size: 1.4rem;
    }

    #section-marketing .marketing-item h4 {
        font-size: 1.2rem;
    }

    #section-marketing .marketing-item p {
        font-size: 1.0rem;
    }
}

@media(max-width: 375px) {
    .card {
        margin: 20px 0;
    }
}