@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    color: var(--color-font);
    background-color: var(--color-background-main);
}

section {
    padding: 60px 0;
}

a {
    text-decoration: none;
    color: var(--color-links);
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

a.btn-link {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

footer {
    background: var(--color-secondary);
    padding: 8px 20px;
    color: var(--color-tertiary);
}

/* Container */
.container {
    width: var(--container-width-default);
    margin: auto;
}

/* Navbar */
nav h1 a {
    color: var(--color-primary);
}

nav h1 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    /* transition: font-size 0.15s; */
    border-width: 2px;
    border-style: double none double none;
    /* border-radius: 2px; */
    border-color: transparent;
    padding: 0 3px;
    transition: 0.15s;
}

nav h1:hover {
    position: relative;
    border-color: rgba(138, 86, 181, 0.4);
    opacity: 0.8;
    /* text-shadow: 1px 1px 3px #aaa; */
}

nav a:hover {
    text-decoration: none;
}

nav .nav-menu {
    justify-content: flex-end;
}

nav .nav-menu .badge {
    display: inline-block;
    margin: 0 10px;
}

nav .nav-menu .badge li.selected a {
    font-weight: bold;
    color: var(--color-primary);
}
/* Page - / */
/* Showcase */
#showcase {
    background: url(../images/city_clipart.png) no-repeat center center;
    filter: opacity(0.9);
    color: #fff;
    min-height: 450px;
    padding: 0;
}

.showcase-small {
    background: url(../images/city_clipart.png) no-repeat center center;
    filter: opacity(0.9);
    color: #fff;
    height: 200px;
    padding: 0;
}

.showcase-overlay {
    background: rgba(136, 105, 162, 0.7);
    min-height: inherit;
    height: inherit;
}

/* This <div> is solely purposed to center its contents */
#showcase .container div,
.showcase-small .container div {
    position: absolute;
    top: 40%;
    width: inherit;
}

#showcase .container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.showcase-small .container h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#showcase .container p {
    margin-bottom: 25px;
}

#showcase .btn-link {
    background-color: var(--color-background-main);
    border: none;
}

/* Listings */
/* see "utilities.css" for cards section */
#section-listings {
    margin-top: 50px;
}

#section-listings .search-bar {
    margin-top: -50px;
    margin-bottom: 50px;
}

/* Marketing */
#marketing .marketing-item {
    padding-top: 20px;
    text-align: center;
}

#marketing .marketing-item h4 {
    font-size: 1.5rem;
}

#marketing .marketing-item p {
    font-size: 1.3rem;
}

#marketing .marketing-item a {
    display: inline-block;
    padding-top: 15px;
}

/* Links */
/* see "utilities.css" */

/* Page - /help */
.section-help .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-help .help-links, .section-help .help-form {
    padding: 0 25px;
}

.section-help p {
    text-align: justify;
}

.section-help a {
    display: inline-block;
    margin-top: 8px;
}

.section-help .link-item {
    margin: 15px 0;
}

/* Help form */
.section-help .help-form form {
    border: 1px solid var(--color-form-border);
}

/* Page - /view-faqs */
.section-faqs .item {
    padding: 15px 0;
}

.section-faqs .item p {
    padding-top: 5px;
}

/* Page - /view-topics */
.section-topics .search-bar {
    margin-bottom: 50px;
}

.section-topics .item {
    padding: 15px 0;
}

.section-topics .item h4 {
    font-size: 1.1rem;
}

.section-topics .item p {
    padding: 5px 0;
}

/* Page - /sign-up & /sign-in */
/* Auth (sign-up & sign-in) */
.section-auth .container {
    width: var(--section-auth-container-width);
}

.section-auth .auth-form form {
    border: 1px solid var(--color-form-border);
}

.link-forgot-password {
    text-align: center;
    margin: 10px 0
}

#form-auth .form-group:first-child {
    display: flex;
} 

#form-auth .grp-name:first-child {
    margin-right: 5px;
}

#form-auth .grp-name:last-child {
    margin-left: 5px;
}

/* View listing */
.showcase-listing {
    min-height: 400px;
    padding: 0;
    position: relative;
}

.showcase-listing-img-group {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-height: inherit;
}

.showcase-listing-img-1 {
    background: url('../images/thumb_default.jpg') no-repeat;
    background-size: cover;
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

.showcase-listing-img-2 {
    background: url('../images/thumb_default.jpg') no-repeat;
    background-size: cover;
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}

.showcase-listing-img-3 {
    background: url('../images/thumb_default.jpg') no-repeat;
    background-size: cover;
}

.showcase-listing-img-4 {
    background: url('../images/thumb_default.jpg') no-repeat;
    background-size: cover;
}

.showcase-listing-img-5 {
    background: url('../images/thumb_default.jpg') no-repeat;
    background-size: cover;
}

.showcase-listing-img-6 {
    background: url('../images/thumb_default.jpg') no-repeat;
    background-size: cover;
}

.showcase-listing-img-7 {
    background: url('../images/thumb_default.jpg') right center no-repeat;
    background-size: cover;
    grid-column: 4 / span 3;
    grid-row: 3;
}

.showcase-listing-img-8 {
    background: url('../images/thumb_default.jpg') no-repeat;
    background-size: cover;
    grid-column: 7 / span 2;
    grid-row: 2 / span 2;
}

.section-listing-primary {
    padding-bottom: 0;
}

.listing-info-main .info-name {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.info-name .name {
    flex: 9;
}

.info-name .info-actions {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.info-name .info-actions i {
    padding: 0 10px;
    margin: 0 15px;
    cursor: pointer;
}

.info-name .info-actions i:hover {
    color: var(--color-primary);
}

.listing-info-main .location {
    font-size: 1.2rem;
}

.info-rating-grp .stars, .info-rating-grp .rating {
    display: inline-block;
}

.info-rating-grp .rating {
    margin-right: 10px;
}

.listing-info-aux {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border: 1px solid var(--color-font);
    padding: 20px;
    margin: 20px;
}

.listing-info-aux .aux-grp {
    padding: 0 30px;
    border-right: 1px solid var(--color-font);
}

.listing-info-aux .aux-grp:last-child {
    border: none;
}

.listing-info-description {
    text-align: center;
}

.section-listing-secondary .panel-grp,
.section-unit-secondary .panel-grp {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.panel-grp .panel {
    padding: 0 15px;
}

.panel-grp .panel > * {
    margin-bottom: 30px;
}

/* see "utilities.css" for cards section */

.panel .lister-details .details {
    border: 1px solid #666;
    margin: 15px;
    padding: 10px;
}

.lister-details .details .header {
    display: flex;
    justify-content: space-between;
}

.lister-details .details .header .timestamp {
    font-size: 0.9rem;
}

.lister-details .details .header img {
    width: 90px;
    padding: 6px;
    border: 1px solid #666;
}

.lister-details .details .info-rating-grp {
    font-size: 1.4rem;
    margin-top: 10px;
}

.listing-features .features,
.listing-nearby-places .place,
.listing-reviews .review-item {
    border: 1px solid #666;
    margin: 15px;
    padding: 10px;
    max-height: 400px;
}

.listing-nearby-places .place:hover {
    color: var(--color-primary);
    cursor: pointer;
    border-color: var(--color-tertiary);
}

.features ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: inherit;
}

.features ul li {
    list-style: square;
    margin-left: 20px;
}

.listing-nearby-places .place .distance {
    text-align: right;
    font-size: 1.5rem;
}

.listing-nearby-places .place .location {
    font-size: 1.1rem;
    font-style: italic;
}

/* Page - /view-listing-unit */
.section-unit-main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-unit-main .container .main-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section-unit-main .main-img .img {
    background: no-repeat;
    background-size: cover;
    margin: 8px;
}

.section-unit-main .container .main-img .img:first-child {
    height: 300px;
    background: url('../images/thumb_unit.jpg');
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    position: relative;
}

.section-unit-main .container .main-img .img:nth-child(2),
.section-unit-main .container .main-img .img:nth-child(3),
.section-unit-main .container .main-img .img:last-child {
    height: 150px;
    background: url('../images/thumb_unit.jpg');
    background-size: cover;
}

.section-unit-main .container .main-img .img:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.section-unit-main .container .main-img .img:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.section-unit-main .container .main-img .img:last-child {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.section-unit-main .container .main-info {
    margin: 8px;
    padding: 0 15px;
    align-self: center;
}

.section-unit-main .main-info h2 {
    font-size: 1.9rem;
    margin: 15px 0;
}

.section-unit-main .main-info .price {
    font-size: 1.5rem;
}

.section-unit-main .main-info .timestamp {
    font-size: 0.9rem;
    margin: 8px 0 15px;
}

.panel .features,
.unit-apply .apply-grp {
    border: 1px solid #666;
    margin: 15px;
    padding: 10px;
    max-height: 400px;
}

/* see "utilities.css" for buttons */
.unit-apply .apply-grp .apply,
.unit-apply .apply-grp .tour {
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0;
}

.apply-grp p {
    margin: 8px 0 5px;
}

.apply-grp button {
    font-size: 1.1rem;
}

/* Page - /view-listing-reviews */
.section-listing-info-header {
    padding-bottom: 0;
}

.section-listing-info-header .header-grp {
    height: 170px;
    position: relative;
}

.section-listing-info-header .header-grp .thumb {
    width: 220px;
    height: inherit;
    background: url('../images/thumb_default.jpg') no-repeat;
    background-size: cover;
    display: inline-block;
}

.section-listing-info-header .header-grp .details {
    display: inline-block;
    margin: 0 15px;
    position: absolute;
    top: 15px;
    height: inherit;
}

.header-grp .details .timestamp {
    font-size: 0.9rem;
    margin: 5px 0;
}

.header-grp .details .info-rating-grp {
    font-size: 1.2rem;
}

.section-listing-info-header .container .section-more {
    text-align: left;
    margin-top: 15px;
    position: absolute;
    bottom: 15px;
}

.section-listing-reviews .review-item {
    padding-top: 18px;
    padding-bottom: 18px;
    border: none;
    border-bottom: 1px dashed #666;
}

.section-listing-reviews .review-item:last-child {
    border-bottom: none;
}

.section-listing-reviews .review-item .review {
    text-align: justify;
}

