/* Params */
:root {
    --rounded-btn-radius: 25px;
}

.btn-link {
    padding: 12px;
    background: var(--color-background-main);
    border-radius: var(--rounded-btn-radius);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Main card */
.card {
    margin: 35px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.card a:hover {
    text-decoration: none;
    font-weight: normal;
}

.card .image {
    position: relative;
    background: url(../images/thumb_default.jpg) center center;
    height: 225px;
    border-radius: 20px 20px 0 0;
}

.card .image img {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 50px;
    height: 50px;
    opacity: 0.8;
}

.card .card-info {
    padding: 8px 14px;
}

.card-info h4 {
    font-size: 1.1rem;
}

.card-info .location {
    font-size: 1.1rem;
}

.card-info .price {
    font-size: 1.15rem;
}

.card-info .timestamp {
    font-size: 0.8rem;
}

/* Section title */
.section-title {
    text-align: center;
    padding: 15px 0;
    font-size: 1.7rem;
    text-transform: capitalize;
}

/* Links */
#links {
    padding: 0 50px;
    background: var(--color-tertiary);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* #links div {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#links div:nth-child(2) {
    align-self: flex-start;
} */

#links div {
    padding: 70px 0;
    display: inline-block;
    align-items: center;
    margin: 0 auto;
}

#links div a {
    display: block;
    margin: 18px 0;
    font-size: 1.1rem;
}

/* Section .section-more link */
.container .section-more {
    text-align: right;
}

/* Form */
form {
    padding: 15px;
}

form .btn-submit {
    border-radius: var(--rounded-btn-radius);
    padding: 9px 14px;
    margin-top: 15px;
    border: 1px solid var(--color-font);
    color: var(--color-font);
    background: none;
    font-size: 0.9rem;
    font-weight: normal;
    cursor: pointer;
}

form .btn-submit:hover {
    background: var(--color-font);
    color: var(--color-background-main);
}

.form-group {
    padding-top: 5px;
}

.form-group * {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin: 3px 0;
    outline: none;
    font-family: 'Heebo', sans-serif;
}

.form-group input, .form-group select, .form-group textarea {
    background: transparent;
    border-radius: 3px;
    border: 1px solid var(--color-form-border);
    padding: 6px;
}